@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&family=Barlow:wght@300&family=Bellefair&family=Josefin+Sans:wght@200&family=Karla&family=Montserrat&family=Poppins&family=Roboto:wght@500&display=swap');

*{
 font-family: 'Poppins', sans-serif;;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 20vh;
 background-color: #a4ebf379;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 10vw;
 &__logo{
    width: 80px;
 }
 &__links{
    display: flex;
    gap: 50px;
    p{
        cursor: pointer;
    }
    button{
        background-color: #FFFFFF;
        color: #AAAAAA;
        width: 90px;
        height: 40px;
        border: none;
        border-radius: 10px;
        font-size: 16px;

    }
 }
 &__iconos{
    display: flex;
    align-items: center;
 }
}
.imgFondo{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80vh;
object-fit: cover;
}
.header{
    &__frase{
        width: 200px;
        position: absolute;
        z-index: 2;
        line-height: 5vw;
        font-weight: 600;
        color: #608FAE;
        font-size: 5vw;
        top: 30vh;
        left: 10vw;
    }
    &__circulo{
        position: absolute;
        top: 35vh;
        left: 50vw;
        margin-left: -127px;
        display: flex;
   justify-content: center;
        align-items: center;
        z-index: 2;
        text-align: center;
        color: #fff;
        font-size: 30px;
        background-color: #A4EBF3;
  border-radius: 100%;
  width: 257px;
  height: 246px;
  padding-right: 50px;
  padding-left: 50px;
  &__sombra{
    background-color: rgba(164, 235, 243, 0.29);
  border-radius: 100%;
  width: 314px;
  height: 301px;
  position: absolute;
  }
    }
    &__text{
        position: absolute;
        z-index: 2;
        width: 50vw;
        height: 613px;
        top: 90vh;
        left: 50vw;
        margin-left: -25vw;
        text-align: center;
        color: #AAAAAA;
        font-family: Montserrat;
        font-size: 36px;
        line-height: 50px;
        font-weight: 600;
    }
}
.main {
    position: absolute;
    top: 120vh;
    padding: 0 10vw;
    justify-content: center;
    text-align: center;

    &__text {
        color: black;
        text-align: center;
    }
}
